@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-primary: #7828D9;
  --brand-secondary: #7C3AED;
  --brand-tertiary: #8B5CF6;
  --brand-light: #C4B5FD;
  --gray-white: #FFFFFF;
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #E5E5E5;
  --gray-300: #D4D4D4;
  --gray-400: #A3A3A3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
  --gray-950: #0A0A0A;
  --gray-black: #0A0A0A;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-bricolage-grotesque);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.bg-gray-black {
  background-color: var(--gray-black);
}

h1, h2, h3 {
  font-family: var(--font-bricolage-grotesque), serif;
}

h4, h5, h6 {
  font-family: var(--font-inter), sans-serif;
}

/* Button Styles */
.btn-primary {
  /* width: 84px; */
  /* height: 40px; */
  border-radius: 8px;
  padding: 0.5rem;
  gap: 10px;
  background: var(--brand-primary);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background: var(--brand-tertiary);
}

.btn-primary:active {
  background: var(--brand-primary);
}

.btn-secondary {
  width: 84px;
  height: 40px;
  border-radius: 8px;
  padding: 0 16px;
  gap: 10px;
  background: transparent;
  color: white;
  border: 1px solid var(--gray-800);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-secondary:hover {
  background: var(--gray-950);
}

.btn-secondary:active {
  border-color: var(--gray-900);
}

.btn-primary-sm {
  width: 68px;
  height: 32px;
  border-radius: 6px;
  padding: 0 12px;
  gap: 8px;
  background: var(--brand-primary);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.btn-primary-sm:hover {
  background: var(--brand-tertiary);
}

.btn-primary-sm:active {
  background: var(--brand-primary);
}

.btn-secondary-sm {
  width: 68px;
  height: 32px;
  border-radius: 6px;
  padding: 0 12px;
  gap: 8px;
  background: transparent;
  color: white;
  border: 1px solid var(--gray-800);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.btn-secondary-sm:hover {
  background: var(--gray-950);
}

.btn-secondary-sm:active {
  border-color: var(--gray-900);
}

/* Filter Styles */
.filter-unselected {
  width: 131px;
  height: 31px;
  border-radius: 1rem;
  border: 1px var(--gray-700);
  border-style: dashed;
  gap: 20px;
  padding: 20px;
  background: var(--gray-800) ;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-selected {
  width: 131px;
  height: 31px;
  border-radius: 1rem;
  border: 1px solid var(--gray-400);
  gap: 20px;
  padding: 20px;
  background: var(--gray-100);
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
